.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.search-input {
    height: 49px;
    border: none;
    border-left: 1px solid #0bb90b;
    border-right: 1px solid #0bb90b;
    width: 330px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.search-input:focus {
    background: #f5fff5;
}

.logo {
    font-size: 22px;
}

.logo a {
    text-decoration: none;
}

.modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modal {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 3px;
    z-index: 999;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.modal-dropdown {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 3px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 24px 0px #ddd;
}

.modal-dropdown-background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modal-dropdown-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-header {
    height: 40px;
    font-size: 24px;
}

.form-text-input {
    height: 50px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px groove;
}

.form-text-input:focus, .form-text-input:hover {
    border: 1px solid #0bb90b;
}

.form-row {
    display: flex;
    margin: 10px 0;
}

.submit-button {
    width: 100%;
    height: 50px;
    -webkit-appearance: none;
    font-size: 14px;
    background: #fff;
    border: 1px groove;
}

.submit-button:hover {
    cursor: pointer;
    border: 1px solid #0bb90b;
}

.nav-btn {
    /* -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; */
    transition: color .2s ease-in-out;
}

.nav-btn:hover {
    cursor: pointer;
    color: #0bb90b !important;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
}

.nav-links>a {
    text-decoration: none;
    color: #000;
}

.login-links {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width: 180px;
}

.login-link {
    border-left: 1px solid #0bb90b;
    width: 100px;
    height: 49px;
    line-height: 50px;
    text-align: center;
    transition: color .2s ease-in-out;
}

.login-link:last-child {
    border-right: 1px solid #0bb90b;
}

.login-link:hover {
    cursor: pointer;
    background: #f5fff5;
}

.user-dropdown-menu {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 60px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    padding: 15px;
}

.user-menu-dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
}

.user-menu-dropdown-item > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 80px;
    text-decoration: none;
    color: #333;
}

.user-menu-dropdown-item:hover {
    cursor: pointer;
    border: 1px solid #eee;
}

.user-menu-dropdown-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 30px;
}



.user-menu-dropdown-item-label {
    font-size: 14px;
}

.user-menu-dropdown-row:hover {
    cursor: pointer;
}

.user-icon {
    position: relative;
}

.user-icon:hover {
    cursor: pointer;
}

.triangle {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    left: 6.5px;
    z-index: 1;
    height: 0;
    width: 0;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .2);
    top: 36px;
}

.triangle2 {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    left: 6.5px;
    top: 37px;
    z-index: 1000;
    height: 0;
    width: 0;
}