.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.search-input {
    height: 50px;
    border: none;
    border-left: 1px solid #0bb90b;
    border-right: 1px solid #0bb90b;
    width: 330px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
}

.search-input:focus {
    background: #f5fff5;
}

.logo {
    font-size: 22px;
}

.logo a {
    text-decoration: none;
}

.modal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modal {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 3px;
    z-index: 999;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.modal-header {
    height: 40px;
    font-size: 24px;
}

.form-text-input {
    height: 50px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px groove;
}

.form-text-input:focus,
.form-text-input:hover {
    border: 1px solid #0bb90b;
}

.form-row {
    display: flex;
    margin: 10px 0;
}

.submit-button {
    width: 100%;
    height: 50px;
    -webkit-appearance: none;
    font-size: 14px;
    background: #fff;
    border: 1px groove;
}

.submit-button:hover {
    cursor: pointer;
    border: 1px solid #0bb90b;
}

.nav-btn {
    /* -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; */
}

.nav-btn:hover {
    cursor: pointer;
    color: #0bb90b !important;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
}

.nav-links>a {
    text-decoration: none;
    color: #000;
}

.login-links {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width: 180px;
}

.login-link {
    border-left: 1px solid #0bb90b;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.login-link:last-child {
    border-right: 1px solid #0bb90b;
}

.login-link:hover {
    cursor: pointer;
    color: #0bb90b;
}