.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-bottom: 1px solid black;
}

.logo{
    font-size: 22px;
}

.logo a{
    text-decoration: none;
}